   [submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
   
[submodule "blowfis"]
	path = blowfis
	url = https://github.com/Vinzgh24/blowfish
	branch = main
